In [353]:
from sqlalchemy import create_engine, MetaData, Table
from sqlalchemy.dialects.postgresql import insert
import pandas as pd
import numpy as np

In [76]:
engine = create_engine("postgresql+psycopg2://neoflex_user:neoflex_user@localhost:5432/neo_bank_1")

In [368]:
def load_to_db(df, table_name):
    metadata_obj = MetaData(schema = 'ds')
    table = Table(table_name, metadata_obj, autoload_with=engine)
    
    insert_statement = insert(table).values(df.values.tolist())
    upsert_statement = insert_statement.on_conflict_do_update(
        constraint=table.primary_key,
        set_=dict(insert_statement.excluded),
    )
    engine.execute(upsert_statement)

In [209]:
#''' Загрузка (сносит ключи, если что-то не так) '''
#def load_to_db(df, table_name):
#    df.columns = df.columns.str.lower()
    
#    df.to_sql(
#        name = table_name,
#        con = engine,
#        schema = 'ds',
 #       if_exists = 'replace',
  #      index = False,
   #     method = 'multi'
    #)

In [104]:
''' Сбор данных из ft_balance_f.csv, преобразование и загрузка в neo_bank_1  '''
def etl_ft_balance_f():
    df = pd.read_csv(filepath_or_buffer='../../../src/1/1/ft_balance_f.csv', 
        header = 'infer', 
        sep = ';',
        usecols = range(1,5),
        parse_dates = ['ON_DATE', ],
        dayfirst = True
    )
    
    load_to_db(df, 'ft_balance_f')

In [210]:
''' Сбор данных из et_md_account_d.csv, преобразование и загрузка в neo_bank_1  '''
def etl_md_account_d():
    df = pd.read_csv(
        filepath_or_buffer='../../../src/1/1/md_account_d.csv', 
        header='infer', 
        sep=';',
        usecols=range(1,8),
        parse_dates=['DATA_ACTUAL_DATE', 'DATA_ACTUAL_END_DATE']
    )
    load_to_db(df, 'md_account_d')

In [342]:
''' Сбор данных из ft_posting_f.csv, преобразование и загрузка в neo_bank_1  '''
def etl_ft_posting_f():
    df = pd.read_csv(
        filepath_or_buffer='../../../src/1/1/ft_posting_f.csv', 
        header='infer', 
        sep=';',
        parse_dates=['OPER_DATE', ],
        usecols=range(1,6)
    )
    #ПОКА ЧТО ТУТ УДАЛЕНИЕ ПОСЛЕДНИХ ДУБЛИКАТОВ ПО PK 
    df = df.drop_duplicates(
        subset=[
            'OPER_DATE', 
            'CREDIT_ACCOUNT_RK', 
            'DEBET_ACCOUNT_RK'
        ], keep='last'
    )
    
    load_to_db(df, 'ft_posting_f')

In [247]:
''' Сбор данных из md_currency_d.csv, преобразование и загрузка в neo_bank_1  '''
def etl_md_currency_d():
    df = pd.read_csv(
        filepath_or_buffer='../../../src/1/1/md_currency_d.csv', 
        header='infer', 
        sep=';',
        encoding = 'latin1',
        usecols=range(1,6),
        parse_dates=['DATA_ACTUAL_DATE', 'DATA_ACTUAL_END_DATE'],
    )
    load_to_db(df, 'md_currency_d')

In [313]:
''' Сбор данных из md_currency_d.csv, преобразование и загрузка в neo_bank_1  '''
def etl_md_exchange_rate_d():
    df = pd.read_csv(
        filepath_or_buffer='../../../src/1/1/md_exchange_rate_d.csv', 
        header='infer', 
        sep=';',
        usecols=range(1,6),
        parse_dates=['DATA_ACTUAL_DATE', 'DATA_ACTUAL_END_DATE'],
    )
    df = df.drop_duplicates()
    
    load_to_db(df, 'md_exchange_rate_d')

In [365]:
''' Сбор данных из md_ledger_account_s.csv, преобразование и загрузка в neo_bank_1  '''
def etl_md_ledger_account_s():
    df = pd.read_csv(
        filepath_or_buffer='../../../src/1/1/md_ledger_account_s.csv', 
        header='infer', 
        sep=';',
        encoding = 'IBM866',
        parse_dates=['START_DATE', 'END_DATE'],
        usecols=range(1,29),
        dtype = {
            'PAIR_ACCOUNT': str,
            'MIN_TERM': str,
            'MAX_TERM': str,
            'MAX_TERM_MEASURE': str,
            'LEDGER_ACC_FULL_NAME_TRANSLIT': str,
            'IS_REVALUATION': str,
            'IS_CORRECT': str
        }
    )
    df = df.replace(np.nan, None)
    load_to_db(df, 'md_ledger_account_s')

In [374]:
etl_ft_balance_f()
etl_md_account_d()
etl_ft_posting_f()
etl_md_currency_d()
etl_md_exchange_rate_d()
etl_md_ledger_account_s()